In [117]:
import pandas as pd

In [118]:
df_FUNCTIONS = pd.read_csv("dataset/Multiclass/FUNCTIONS.csv", index_col=False, low_memory=False)

In [119]:
df_FUNCTIONS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22285855 entries, 0 to 22285854
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   NAME             object
 1   TYPE             object
 2   STARTLINE        int64
 3   ENDLINE          int64
 4   ID               int64
 5   NORMALIZED_SIZE  int64
 6   PROJECT          object
 7   TOKENS           int64
 8   INTERNAL         bool
dtypes: bool(1), int64(5), object(3)
memory usage: 1.3+ GB

In [120]:
df_FUNCTIONS.head(10)

,NAME,TYPE,STARTLINE,ENDLINE,ID,NORMALIZED_SIZE,PROJECT,TOKENS,INTERNAL
0,32569.java,default,8,9,1,2,jmlspecs,11,False
1,26522.java,default,139,146,2,8,ivussnakes,39,False
2,26522.java,default,148,189,3,43,ivussnakes,284,False
3,26522.java,default,191,194,4,4,ivussnakes,27,False
4,26522.java,default,196,219,5,24,ivussnakes,279,False
5,26522.java,default,221,223,6,3,ivussnakes,19,False
6,26522.java,default,225,457,7,241,ivussnakes,1633,False
7,26522.java,default,235,245,8,12,ivussnakes,89,True
8,26522.java,default,253,263,9,12,ivussnakes,89,True
9,26522.java,default,271,281,10,12,ivussnakes,89,True

In [121]:
df_CLONES = pd.read_csv("dataset/Multiclass/CLONES.csv", index_col=False, low_memory=False)

In [122]:
df_CLONES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8584153 entries, 0 to 8584152
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   FUNCTION_ID_ONE   int64
 1   FUNCTION_ID_TWO   int64
 2   FUNCTIONALITY_ID  int64
 3   TYPE              object
 4   SYNTACTIC_TYPE    int64
 5   SIMILARITY_LINE   float64
 6   SIMILARITY_TOKEN  float64
 7   MIN_SIZE          int64
 8   MAX_SIZE          int64
 9   MIN_PRETTY_SIZE   int64
 10  MAX_PRETTY_SIZE   int64
 11  MIN_JUDGES        int64
 12  MIN_CONFIDENCE    int64
 13  MIN_TOKENS        int64
 14  MAX_TOKENS        int64
 15  INTERNAL          bool
dtypes: bool(1), float64(2), int64(12), object(1)
memory usage: 990.6+ MB

In [123]:
df_CLONES.head()

,FUNCTION_ID_ONE,FUNCTION_ID_TWO,FUNCTIONALITY_ID,TYPE,SYNTACTIC_TYPE,SIMILARITY_LINE,SIMILARITY_TOKEN,MIN_SIZE,MAX_SIZE,MIN_PRETTY_SIZE,MAX_PRETTY_SIZE,MIN_JUDGES,MIN_CONFIDENCE,MIN_TOKENS,MAX_TOKENS,INTERNAL
0,647224,13563706,4,tagged-tagged,3,0.053333,0.113567,18,150,20,150,1,1,181,1312,False
1,13563706,17930256,4,tagged-tagged,3,0.100000,0.192835,39,150,39,150,1,1,348,1312,False
2,1458629,13563706,4,tagged-tagged,3,0.080000,0.113567,27,150,27,150,1,1,193,1312,False
3,13563706,22602225,4,tagged-tagged,3,0.033333,0.070884,11,150,12,150,1,1,112,1312,False
4,8273323,13563706,4,tagged-tagged,3,0.013333,0.035061,6,150,6,150,1,1,49,1312,False

In [124]:
import pandas as pd

# Assuming df_FUNCTIONS is your DataFrame and 'NAME' is the column where you want to search for 'BinarySearch.java'

# Find rows where the 'NAME' column is equal to 'BinarySearch.java'
matching_rows = df_FUNCTIONS[df_FUNCTIONS['NAME'] == 'BinarySearch.java']

# Display the matching rows
matching_rows.head(100)

,NAME,TYPE,STARTLINE,ENDLINE,ID,NORMALIZED_SIZE,PROJECT,TOKENS,INTERNAL
22237652,BinarySearch.java,sample,6,17,23677158,9,BigCloneBench-Sample,93,False
22237653,BinarySearch.java,sample,19,30,23677159,9,BigCloneBench-Sample,111,False
22237654,BinarySearch.java,sample,32,46,23677160,12,BigCloneBench-Sample,89,False
22237655,BinarySearch.java,sample,48,61,23677161,12,BigCloneBench-Sample,107,False

In [125]:
import os
from collections import Counter

def find_duplicate_files(root_dir):
    # This dictionary will store the file name as key and its count as value
    files_count = Counter()

    # Walking through the directory and subdirectories
    for dirpath, _, filenames in os.walk(root_dir):
        for file in filenames:
            # Increment the count of the file name in the counter
            files_count[file] += 1

    # Filter out files with more than one occurrence
    duplicates = {file: count for file, count in files_count.items() if count > 1}

    return files_count, duplicates

# Replace 'your_directory_path' with the path of your directory
all_files, duplicate_files = find_duplicate_files('/home/bkcs/BigCloneEval/ijadataset/bcb_reduced')

print("All files and their counts:")
for file, count in all_files.items():
    print(f"{file}: {count}")

print("\nDuplicate files and their counts:")
for file, count in duplicate_files.items():
    print(f"{file}: {count}")

# Count of all unique files
print(f"\nTotal unique files: {len(all_files)}")

# Count of all duplicate files
print(f"Total duplicate files: {len(duplicate_files)}")

All files and their counts:

Duplicate files and their counts:

Total unique files: 0
Total duplicate files: 0

In [126]:
import os
import pandas as pd

# Generator function to yield all file names in the directory and subdirectories
def get_all_file_names(root_dir):
    for dirpath, _, filenames in os.walk(root_dir):
        for file in filenames:
            yield file

# Function to find files not in the DataFrame using a set for faster lookups
def find_files_not_in_dataframe(file_names_generator, dataframe):
    df_set = set(dataframe['NAME'].values)
    return (file for file in file_names_generator if file not in df_set)

# Path to the directory
directory_path = '/home/bkcs/Downloads/dataset'

# Get all file names generator
all_file_names_generator = get_all_file_names(directory_path)

# Assuming df_FUNCTIONS is your DataFrame and 'NAME' is the column of interest
# You would load your DataFrame here, for example:
# df_FUNCTIONS = pd.read_csv('path_to_your_csv.csv')

# Find files not in the DataFrame using the generator
files_not_in_df_generator = find_files_not_in_dataframe(all_file_names_generator, df_FUNCTIONS)

# Print the result
print("Files not in the 'NAME' column of df_FUNCTIONS:")
for file in files_not_in_df_generator:
    print(file)

# Since we're using a generator, we can't easily get the total count without iterating through it

Files not in the 'NAME' column of df_FUNCTIONS:

In [127]:
df_CLONES.head()

,FUNCTION_ID_ONE,FUNCTION_ID_TWO,FUNCTIONALITY_ID,TYPE,SYNTACTIC_TYPE,SIMILARITY_LINE,SIMILARITY_TOKEN,MIN_SIZE,MAX_SIZE,MIN_PRETTY_SIZE,MAX_PRETTY_SIZE,MIN_JUDGES,MIN_CONFIDENCE,MIN_TOKENS,MAX_TOKENS,INTERNAL
0,647224,13563706,4,tagged-tagged,3,0.053333,0.113567,18,150,20,150,1,1,181,1312,False
1,13563706,17930256,4,tagged-tagged,3,0.100000,0.192835,39,150,39,150,1,1,348,1312,False
2,1458629,13563706,4,tagged-tagged,3,0.080000,0.113567,27,150,27,150,1,1,193,1312,False
3,13563706,22602225,4,tagged-tagged,3,0.033333,0.070884,11,150,12,150,1,1,112,1312,False
4,8273323,13563706,4,tagged-tagged,3,0.013333,0.035061,6,150,6,150,1,1,49,1312,False

In [128]:
import pandas as pd

# Assuming df is your DataFrame
for column in df_CLONES.columns:
    print(f"Unique values in the '{column}' column:")
    unique_values = df_CLONES[column].unique()
    print(unique_values)
    print("\n")

Unique values in the 'FUNCTION_ID_ONE' column:
[  647224 13563706  1458629 ...  7044675 10005624 12528438]


Unique values in the 'FUNCTION_ID_TWO' column:
[13563706 17930256 22602225 ...  7044675 10005624 12528438]


Unique values in the 'FUNCTIONALITY_ID' column:
[ 4 10  6  7  8  9 34 26 29 20 31 22 36 44 17 24 30 14 15 21 28 27 37 41
 45 12 13 33 25 32 39  5 19 11 23 18 35 40 38 42 43  2  3]


Unique values in the 'TYPE' column:
['tagged-tagged' 'sample-tagged' 'sample-sample']


Unique values in the 'SYNTACTIC_TYPE' column:
[3 2 1]


Unique values in the 'SIMILARITY_LINE' column:
[0.05333333 0.1        0.08       ... 0.22065728 0.3373494  0.23474178]


Unique values in the 'SIMILARITY_TOKEN' column:
[0.11356707 0.19283537 0.07088415 ... 0.09026327 0.86697248 0.52820122]


Unique values in the 'MIN_SIZE' column:
[ 18  39  27  11   6  83  12  22  52   9  19  28  15  20  37  32  16   8
   7  17   3  62  65   4   5  46  36  14 150  43  56  13  60  25  21  34
  40  10  29  80  94  33  31  78  38  41  63  45  23  30  48  81  70  64
  71  49 106  26  76 128  97  24  59  79  44  57  54  51  74  66  73  58
  77  42 105  35  67  53 117  68  86  90 124 118  95  47 119 134 110  85
 126  72 132  55 116  93 148  50 123  75  61  96 108 130 136 127  99 135
 114 120 125  91 113  69  82  92 107  84 104  88 129 200 139 109 111 166
 142 131 121 197 181 171 146 174 158 178 184 189 192 151 165 152 173 170
 250 253 202 217 224 209 220 223 717 279 429 441 299 255 399 340 355 541
 432 291 115 101 133 122 102 138 276 103 168 162 100 155 154 368 141 248
 367 381 214 187 159 236 172 160 334 227 186 479  87 216 149 182 260 188
 169 208  98  89 137 246 300 145 270 294 231 112 147 179 153 167 373 433
 242 364 238 191 234 281 205 469 140 180 230 225 204 176 268 318 493 362
 156 199 245 190 198 275 389 185 144 161 266 244 221 316 326 412 614 357
 371 277 283 286 143 331 157 303 194 274 233]


Unique values in the 'MAX_SIZE' column:
[150 299 224 174 158 178 184 189 209 355 220 192 541 151 165 166 152 223
 432 173 717 291 170  22  24  18  20  19  31  47  33  38  83 108  21  27
  59  37  23  61  77  57  34  29  32  30  81  44  43  65  50  69  71  62
  35  49  28  26  41  36  39  82 200  52 128  66  25  68 129  46 118  40
  48 253  70  85  79 139  91 126  53  42  78  60  58 109 250  75  80 111
  54  63  92 127 142  55 131 110 762 279  86  56 429 441  93 121 197 107
  84  67 104 114 125  45  88 255 181 124 399 171  64 202  51 134  76 217
 132  73 113  74  94 340 146 106  97 105 117  90  95 119  72 116 148 123
  96 130 136  99 135 120  16  17  13  12  14  15   9  11  10   7   8   6
   3   5   4 221 240 115 101 133 122 102 138 276 334 160 141 168 103 358
 162 100 598 381 155 154 368 248 367 497 214 187 159 236 172 227 186 479
  87 216 260 149 182 208 169 575 188 300  98 137 246 378  89 145 270 294
 231 179 147 112 153 242 364 167 238 191 469 234 281 205 373 506 433 143
 267 140 180 230 233 387 262 274 176 268 225 237 204 312 549 712 318 493
 362 156 199 245 275 190 198 389 475 185 266 614 316 144 326 412 244 161
 890 357 371 277 283 331 286 375 157 303 194 916]


Unique values in the 'MIN_PRETTY_SIZE' column:
[ 20  39  27  12   6  83  14  22  61  10  21  29  15  19  52  34  16   8
   7  17   3  63  65   4  31   5  54  37  32  28 150  45  56  11   9  40
  46  81  18  13  38  94  36  78  42  66  82  53  24  43  41  23  87  71
  64  76  25  86  50 107 135  49  97  60  33  48  85  51  58  30  70  26
  73  77 102 106  35 104  59  44  68 101  90 127 129  80 122  95  62 130
  47 141 131  67 111 136  72 134 116  79  75  99 112 143 139  55 133 117
 123  98 146  69  91  74 115  93  57  84  89  88 113 103 120 152 243 119
 166 142 121 144 118 207 221 125 126 128 171 212 137 214 157 149 227 179
 155 184 194 189 218 234 187 153 160 235 233 176 250 254 717 282 437 494
 320 279 409 348 363 574 432 302 108 182 285 174 132 109 105 175 170 165
 159 154  92 386 151 100 276 371 393 215 197 168 148 172 375 230 196 114
 492 226 173 163 185 305 193 169 208 156 253 300 266 201 287 161  96 110
 164 147 178 167 370 192 280 364 249 239 286 213 428 124 198 188 262 216
 211 145 308 343 217 345 191 499 377 225 256 229 290 431 195 138 162 140
 180 278 244 255 224 329 419 759 372 293 317 333 306 200 418 252]


Unique values in the 'MAX_PRETTY_SIZE' column:
[150 320 227 179 155 184 194 189 218 363 234 187 574 153 166 160 235 233
 432 176 717 302 171  25  24  18  27  20  19  36  47  22  34  43  93 115
  21  28  62  37  23  67  77  57  30  32  33  87  45  72  35  50  41  69
  63  38  84  81  26  51  83  29  40  80 243  58 127  74  73  46 120  53
  48 152 254  71  91  68  39 141  98  90  52  55  64  31  79  60 122  54
 119 250  75  44  42 113  70 103  49 129 142  61  94 121 782 282  86  56
  59 437  97 494 144 118 207  85 104 221 106 125 126 128  89 279 409  65
 212 137  66  76 214 157  88  95 143 348 149  78  82 107 135 102 101 130
 131 111 136 134 116  99 112 139 133 117 123 146  17  15  14  16  10  13
  11  12   9   7   8   6   3   5   4 224 132 251 108 182 285 370 174 173
 105 175 396 109 163 170 647 393 165 159 154  92 386 151 100 276 371 507
 215 197 168 148 172 375 230 196 114 492 185 226 305 208 169 575 193 300
 156 253 377 266 201 287 161  96 192 164 110 147 280 178 364 167 249 428
 239 286 213 474 267 188 198 124 262 265 181 415 263 216 288 343 211 186
 351 145 308 721 345 191 499 217 225 256 290 229 431 500 268 195 278 759
 138 329 419 244 162 255 948 140 372 180 293 333 407 317 418 306 200 918
 252]


Unique values in the 'MIN_JUDGES' column:
[         1          2 2147483647          3          4]


Unique values in the 'MIN_CONFIDENCE' column:
[         1          2 2147483647          3          4]


Unique values in the 'MIN_TOKENS' column:
[ 181  348  193 ... 1395 1078 1267]


Unique values in the 'MAX_TOKENS' column:
[1312 2678 2049 ... 1267 1038 2547]


Unique values in the 'INTERNAL' column:
[False  True]

In [129]:
df_FUNCTIONALITIES = pd.read_csv("dataset/Multiclass/FUNCTIONALITIES.csv", index_col=False, low_memory=False)

In [130]:
df_FUNCTIONALITIES.head(100)

,NAME,DESCRIPTION,ID,SEARCH_HEURISTIC
0,Download From Web,Downloads file from http link.,2,(openStream AND URL) OR (openConnection AND UR...
1,Secure Hash,1. Generate secure hash in binary format. 2. ...,3,.*\.\s*digest\s*\(.*
2,Copy File,Copies a file.,4,[getChannel] OR [transferFrom] OR [FileUtils.c...
3,Decompress zip archive.,"1. Retrieve a zip archive (from disk, internet...",5,Pattern#1: .*\.\s*getNext((Zip)|)Entry\s*\(\s*...
4,Connect to FTP Server,1 - Connect to the FTP server. 2 - Log in wit...,6,\.\s*connect\s*\( AND \.\s*login\s*\(
5,Bubble Sort Array,Sorts an array of values using bubble sort.,7,[a-z]\[[a-z]\] = [a-z]\[[a-z]+1\]
6,Setup SGV,1 - Create ScrollingGraphicalViewer object. 2 ...,8,ScrollingGraphicalViewer
7,Setup SGV Event Handler,"1-Create scrollinggraphicalviewer, 2-Add liste...",9,GraphicalVeiwer
8,Execute update and rollback.,1 - Execute a database update. 2 - Rollback (...,10,executeUpdate\s*\( AND rollback\s*\(\s*\)
9,Initialize Java Eclipse Project.,1-Get eclipse project (create or receive). 2-...,11,setNatureIds AND setOutputLocation AND setRawC...
10,Get Prime Factors,Takes an integer and returns its prime factors.,12,"while (n % i == 0), allowing any identifier na..."
11,Shuffle Array in Place,"Shuffles an array (randomly) in-place. E.g., ...",13,j = i + random.nextInt(length-i) OR j = random...
12,Binary Search,Finds the position of a specified input value ...,14,"index = (imin + imax)/2 ... Regex: [a-z,A-Z,0-..."
13,Load Custom Font,"1 - Create font (from URL, file, etc) 2 - Regi...",15,createFont AND registerFont
14,Create Encryption Key Files,"1 - Generates a pair of encryption keys, publi...",17,generateKeyPair AND file
15,Play Sound,Takes a sound source and plays it.,18,getClip AND open AND start
16,Take Screenshot to File,"1 - Take Screenshot, 2 - Save screenshot to file.",19,createScreenCapture
17,Fibonacci,"Calculates either the ith fibonacci sequence, ...",20,"""return identifier(identifier-1) + identifier(..."
18,XMPP Send Message,"1 - Build a message (for example, MessageBuild...",21,MessageBuilder AND sendMessage
19,Encrypt To File,"Takes some data, encrypts it, and writes it to...",22,Cipher AND ENCRYPT_MODE AND write
20,Resize Array,Re-sizes (shrink or expand) an array.,23,arraycopy AND getComponentType
21,Open URL in System Browser,Open URL in system default web browser.,24,isDesktopSupported AND browse
22,Open File in Desktop Application,1 - Check to see if desktop AWT is supported o...,25,isDesktopSupported AND open
23,GCD,Find Greatest Common Denominator,26,"((while\s*\(\s*[a-z,A-Z,0-9,_,$]+\s*!=\s*0\s*\..."
24,Call Method Using Reflection,Uses reflection to access a method and invokes...,27,(getMethod OR getDeclaredMethod) AND invoke
25,Parse XML to DOM,1 - Create or retrieve DocumentBuilderFactory....,28,newDocumentBuilder AND parse
26,Convert Date String Format,1 - Parse source date string using a format (c...,29,DateFormat & .parse( & .format( ** Allowing ...
27,Zip Files,A zip archive is created containing one or mor...,30,Zip AND ZipEntry AND putNextEntry
28,File Dialog,Use a file chooser to select 1 or more files o...,31,((showSaveDialog)|(showOpenDialog)) AND ((getS...
29,Send E-Mail,Send E-Mail using Java Mail: 1 - Receives a Se...,32,Transport.send( //(with allowed whitespace)
30,CRC32 File Checksum,1 - Receives some file. 2 - Produces a CRC32 c...,33,CRC32 AND update AND getValue
31,Execute External Process,Execute external process and do something with...,34,((ProcessBuilder)|(getRuntime)) AND ((exec)|(s...
32,Instantiate Using Reflection,1 - Get class object (reflection or passed in ...,35,getConstructor AND newInstance
33,Connect to Database,Create a database connection.,36,getConnection AND jdbc
34,Load File into Byte Array,The entire file is loaded into a single byte a...,37,FileInputStream AND toByteArray
35,Get MAC Address String,"1 - Get the MAC address (of a network device, ...",38,getHardwareAddress AND ((format)|(toHexString))
36,Delete Folder and Contents,"Delete a folder, and all the files and folders...",39,delete AND ((listFiles AND isDirectory) OR (Si...
37,Parse CSV File,Parse the elements of a CSV-like file. Where ...,40,(nextLine OR readLine) AND ((hasMoreTokens AND...
38,Transpose a Matrix.,Transpose a Matrix (2d array),41,array1[i][j] = array2[j][i] // allowing any i...
39,Extract Matches Using Regex,Use a regular expression to extract matches of...,42,"while\s*\(\s*[a-z,A-Z,0-9,_,$]+\s*\.\s*find\s*..."
40,Copy Directory,Copy directory and its contents.,43,(copy AND isDirectory AND list) OR (preVisitDi...
41,Test Palindrome,Test if a string is a palindrome.,44,palindrome
42,Write PDF File,Writes a PDF file.,45,pdf AND open AND add AND write

In [131]:
# Assuming df_CLONES is a pandas dataframe that has already been defined and loaded

# Filter the dataframe
filtered_rows = df_CLONES[(df_CLONES['FUNCTION_ID_ONE'] == 20369681) | (df_CLONES['FUNCTION_ID_TWO'] == 18354823)]

# Display the values of the filtered rows
filtered_rows.head()

,FUNCTION_ID_ONE,FUNCTION_ID_TWO,FUNCTIONALITY_ID,TYPE,SYNTACTIC_TYPE,SIMILARITY_LINE,SIMILARITY_TOKEN,MIN_SIZE,MAX_SIZE,MIN_PRETTY_SIZE,MAX_PRETTY_SIZE,MIN_JUDGES,MIN_CONFIDENCE,MIN_TOKENS,MAX_TOKENS,INTERNAL
1540,13563706,18354823,4,tagged-tagged,3,0.033333,0.070884,11,150,11,150,1,1,100,1312,False
2136,20369681,23594635,4,tagged-tagged,3,0.277778,0.430657,13,18,13,18,1,1,78,137,False
7523,11389886,18354823,4,tagged-tagged,3,0.120000,0.441624,11,22,11,25,1,1,100,198,False
10513,17385831,18354823,4,tagged-tagged,3,0.083333,0.531250,11,24,11,24,1,1,100,128,False
13502,4591684,18354823,4,tagged-tagged,3,0.117647,0.551020,11,16,11,17,1,1,100,147,False

In [132]:
check_row = df_FUNCTIONS[(df_FUNCTIONS['ID']==20369681) | (df_FUNCTIONS['ID']==18354823)]

In [133]:
check_row

,NAME,TYPE,STARTLINE,ENDLINE,ID,NORMALIZED_SIZE,PROJECT,TOKENS,INTERNAL
17188310,1712012.java,selected,1177,1187,18354823,11,cqcms,100,False
19097671,607159.java,selected,38,50,20369681,13,infofuze,78,False

In [134]:
find_file = df_FUNCTIONS[(df_FUNCTIONS['ID']==10005623)| (df_FUNCTIONS['NAME'] == "10005623.java")]

In [135]:
find_file

,NAME,TYPE,STARTLINE,ENDLINE,ID,NORMALIZED_SIZE,PROJECT,TOKENS,INTERNAL
9301499,358970.java,selected,164,189,10005623,27,xito,193,False

In [136]:
df_FALSE_POSITIVES = pd.read_csv("dataset/Multiclass/FALSE_POSITIVES.csv", index_col=False, low_memory=False)

In [137]:
df_FALSE_POSITIVES.head()

,FUNCTION_ID_ONE,FUNCTION_ID_TWO,FUNCTIONALITY_ID,TYPE,SIMILARITY_LINE,SIMILARITY_TOKEN,SYNTACTIC_TYPE,MIN_JUDGES,MIN_CONFIDENCE
0,772874,23677215,39,sample-tagged,0.011658,0.014614,3,3,1
1,2061557,23677215,39,sample-tagged,0.114286,0.385650,3,1,1
2,2141807,23677215,39,sample-tagged,0.114286,0.388889,3,1,1
3,993834,23677215,39,sample-tagged,0.041420,0.068041,3,3,3
4,1150035,23677214,39,sample-tagged,0.043478,0.045147,3,3,3

In [138]:
df_FALSE_POSITIVES['SYNTACTIC_TYPE'] = 0

In [139]:
# Assuming df_FALSE_POSITIVES and df_CLONES are your existing dataframes
# Select the required columns from both dataframes
df_fp_subset = df_FALSE_POSITIVES.loc[:, ['FUNCTION_ID_ONE', 'FUNCTION_ID_TWO', 'SYNTACTIC_TYPE']]
df_clones_subset = df_CLONES.loc[:, ['FUNCTION_ID_ONE', 'FUNCTION_ID_TWO', 'SYNTACTIC_TYPE']]

# Concatenate the two subsets to form a new dataframe
df_new = pd.concat([df_fp_subset, df_clones_subset], ignore_index=True)

df_new.head(10)

   FUNCTION_ID_ONE  FUNCTION_ID_TWO  SYNTACTIC_TYPE
0           772874         23677215               0
1          2061557         23677215               0
2          2141807         23677215               0
3           993834         23677215               0
4          1150035         23677214               0
5          2660645         23677214               0
6          1305322         23677214               0
7          1008215         23677214               0
8          1824930         23677214               0
9          3297899         23677214               0

In [140]:
df_new['SYNTACTIC_TYPE'].value_counts()

SYNTACTIC_TYPE
3    8531803
0     279032
1      48116
2       4234
Name: count, dtype: int64

In [141]:
df_CLONES.columns

Index(['FUNCTION_ID_ONE', 'FUNCTION_ID_TWO', 'FUNCTIONALITY_ID', 'TYPE',
       'SYNTACTIC_TYPE', 'SIMILARITY_LINE', 'SIMILARITY_TOKEN', 'MIN_SIZE',
       'MAX_SIZE', 'MIN_PRETTY_SIZE', 'MAX_PRETTY_SIZE', 'MIN_JUDGES',
       'MIN_CONFIDENCE', 'MIN_TOKENS', 'MAX_TOKENS', 'INTERNAL'],
      dtype='object')

In [142]:
df_CLONES['TYPE'].value_counts()

TYPE
tagged-tagged    8541772
sample-tagged      42175
sample-sample        206
Name: count, dtype: int64

In [143]:
df_CLONES['SYNTACTIC_TYPE'].value_counts()

SYNTACTIC_TYPE
3    8531803
1      48116
2       4234
Name: count, dtype: int64

In [144]:
df_CLONES.head()

,FUNCTION_ID_ONE,FUNCTION_ID_TWO,FUNCTIONALITY_ID,TYPE,SYNTACTIC_TYPE,SIMILARITY_LINE,SIMILARITY_TOKEN,MIN_SIZE,MAX_SIZE,MIN_PRETTY_SIZE,MAX_PRETTY_SIZE,MIN_JUDGES,MIN_CONFIDENCE,MIN_TOKENS,MAX_TOKENS,INTERNAL
0,647224,13563706,4,tagged-tagged,3,0.053333,0.113567,18,150,20,150,1,1,181,1312,False
1,13563706,17930256,4,tagged-tagged,3,0.100000,0.192835,39,150,39,150,1,1,348,1312,False
2,1458629,13563706,4,tagged-tagged,3,0.080000,0.113567,27,150,27,150,1,1,193,1312,False
3,13563706,22602225,4,tagged-tagged,3,0.033333,0.070884,11,150,12,150,1,1,112,1312,False
4,8273323,13563706,4,tagged-tagged,3,0.013333,0.035061,6,150,6,150,1,1,49,1312,False

In [145]:
df_CLONES.groupby(['TYPE','SYNTACTIC_TYPE']).INTERNAL.unique()

TYPE           SYNTACTIC_TYPE
sample-sample  2                       [False]
               3                       [False]
sample-tagged  2                       [False]
               3                 [False, True]
tagged-tagged  1                 [False, True]
               2                 [False, True]
               3                 [False, True]
Name: INTERNAL, dtype: object

In [146]:
import pandas as pd

# Assuming df_new is your original DataFrame and 'SYNTACTIC_TYPE' is the column of interest

# Function to create a DataFrame with equal distribution of unique values in a specified column
def create_sample_df(df, column, n_samples):
    unique_values = df[column].unique()
    samples_per_value = n_samples // len(unique_values)
    
    # Ensuring that we have enough samples for equal distribution
    if samples_per_value == 0:
        raise ValueError(f"Not enough samples to distribute across {len(unique_values)} unique values.")
    
    sample_dfs = []
    for value in unique_values:
        sample_df = df[df[column] == value].sample(n=samples_per_value, replace=True)
        sample_dfs.append(sample_df)
    
    # Concatenate all the small sample DataFrames into one
    result_df = pd.concat(sample_dfs).sample(frac=1).reset_index(drop=True)
    return result_df.head(n_samples)

In [147]:

# Create the two DataFrames with the specified number of samples
# df_1000_samples = create_sample_df(df_new, 'SYNTACTIC_TYPE', 1000)

In [148]:
df_100_samples = create_sample_df(df_new, 'SYNTACTIC_TYPE', 100)

# Now you have df_100_samples with 100 samples and df_100000_samples with 100000 samples

In [149]:
# df_1000_samples['SYNTACTIC_TYPE'].value_counts()

In [150]:
df_100_samples['SYNTACTIC_TYPE'].value_counts()

SYNTACTIC_TYPE
3    25
2    25
0    25
1    25
Name: count, dtype: int64

In [151]:
import pandas as pd
from sklearn.model_selection import train_test_split

def split_and_export(df, directory_path, target_column, suffix=None):
    """
    Splits the input DataFrame into training, validation, and test sets with stratification.
    Exports each set to a txt file at the specified directory path.

    Parameters:
    df (DataFrame): The input DataFrame to split.
    directory_path (str): The file path where the txt files will be saved.
    target_column (str): The name of the column with the target labels for stratification.
    suffix (str): Optional suffix for the output file names.
    """
    # Convert suffix to string if it is not None
    suffix = f"_{suffix}" if suffix else ""
    
    # Split the dataframe into train and temp dataframes with 60% and 40% of the data respectively
    train, temp = train_test_split(df, test_size=0.4, random_state=42, stratify=df[target_column])

    # Split the temp dataframe into validate and test dataframes with 50% of the data each
    validate, test = train_test_split(temp, test_size=0.5, random_state=42, stratify=temp[target_column])

    # Export the dataframes to txt files
    train.to_csv(f'{directory_path}train{suffix}.txt', sep='\t', index=False, header=False)
    validate.to_csv(f'{directory_path}valid{suffix}.txt', sep='\t', index=False, header=False)
    test.to_csv(f'{directory_path}test{suffix}.txt', sep='\t', index=False, header=False)

In [152]:
import os

# Get the current working directory
current_dir = os.getcwd()

# Append the 'dataset/Multiclass/' folder to the path
save_path = os.path.join(current_dir, 'dataset/Multiclass/')

In [153]:
target_column = 'SYNTACTIC_TYPE'

In [154]:
# split_and_export(df_1000_samples, save_path, target_column, '1000')

In [155]:
split_and_export(df_100_samples, save_path, target_column, '100')

In [156]:
# Example usage:
# df_new is your original DataFrame
# 'target_column' is the name of the column with the target labels
# directory_path is the path where you want to save the txt files
# split_and_export(df_new, '/path/to/directory/', 'target_column', 'optional_suffix')